extends ../layout

block var
    - is_logged_in = isLoggedIn

block content
    h2.page-header= title
    if user_role === "admin"
        div
            a(href="/elections/create") create a new election
        hr
    div
        if elections
            each election in elections
                div
                    div=election.name

                    if user_role === "admin"
                        div
                            a(href="/elections/"+election.id+"/choices/all") see choices for this election
                        div
                            a(href="/elections/"+election.id+"/edit") edit
                        div
                            a(href="/elections/"+election.id+"/remove") remove

                    else if user_role === "user"
                        div
                            a(href="/portal/vote/elections/"+ election.id) vote
                    hr