extends ../layout

block var
    - is_logged_in = isLoggedIn


block content
    h2.page-header= title

    if errors
        each error, i in errors
            p(style='color: #a70000', align='center')=error.msg

    form(method="post")
        .form-group
            label Choice Text
            if choiceObj && choiceObj.choice
                input.form-control(name="choicetext", type="text", placeholder="Enter Choice Text ", required="True" value=choiceObj.choice)
            else
                input.form-control(name="choicetext", type="text", placeholder="Enter Choice Text ", required="True")
        .form-group
            input.form-control.btn.btn-success(type="submit",value="submit")