extends layout

block var
  - is_logged_in = isLoggedIn


block content
  h1= title

  if isLoggedIn
    h3 welcome #{userEmail} !
    h4 role : #{role}
    if role === "user"
      div
        a(href="/elections/all") show all elections

    if role === "admin"
      h1 hi
      div
        a(href="/elections/create") create a new election

      div
        a(href="/elections/all") show all elections
  else
    p please log in for further action